.App {
 /** min-width:500px;**/
  text-align: center;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  z-index: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  opacity: .75;  
}

.App-header {
  text-shadow: 0.2rem .2rem .3rem darkblue; 
  max-width:500px;
  padding: 20px;
  color: white;
  margin-left:auto;
  margin-right:auto;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
     animation: fadein 4s;
  
}
.lorem{
  width:800px
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html{
  background: url('./sky.png') no-repeat top fixed #010100; 
  color:white;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  background:none;
  color: #fff;
  text-shadow: 0.2rem .2rem .3rem rgba(0, 0, 0, 0.863); 

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  text-align: center;
  opacity: .75;  
  font-size: 2.5em;
  font-variant-caps: small-caps;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.inner{
  font-size:x-large;
}
.boxed{
  opacity: .95;
  /**min-width:500px;**/
  width:100%;
  background:url('./bg.png');
  box-shadow: inset 0 0 5rem rgba(4, 20, 39, 0.9);
  margin-top: 40px;
  height:100%;
  position:relative;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
}


.boxed-inner{
  padding:30px;
  text-align: justify;
 /** text-shadow: 0.2rem .2rem .3rem darkblue; **/
}



.gnostic-menu{
  max-width:350px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.nav{
  /***min-width:500px;**/
  font-size: 1.15em;
  text-align:center;
}
.nav-spacer{
  width:0px;
}
.nav-item a{
  font-size: 1em;
  color:#399dd6;
}
.nav-link{
  
  margin-right:-10px;
  margin-left:-10px;
}
.nav-item a:hover{
  text-align:center;
  text-shadow: 1px 1px 2px black, 0 0 10px rgb(35, 130, 255), 0 0 5px darkblue;

  color:#2879a6;
}
.nav-item .active{
  text-align:center;
  color:#2879a6;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.568);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}




#Contact,#Home, #Portfolio, #Services{
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}
.btn-primary{
  background-color:#2879a6
}
#TheFoot{
  margin-top:30px;
  text-shadow: 0.2rem .2rem .3rem darkblue; 
}
 #TheFoot a{
  color: rgb(160, 142, 202);
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgb(137, 67, 179);
}
 #TheFoot a:hover{
   text-decoration: none;
   color: rgb(137, 67, 179);
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgb(160, 142, 202);
}
.reactor{
  height:60px;
}
.powered{
  margin-top:15px;
}
.service-icons{
  color:#399dd6;
  min-width:300px;
  font-size:2em;
  text-align: center;
  margin-left:auto;
  margin-right:auto;

}
.service-icons i{
   margin:10px;
}



.cogger{
  margin-bottom:-27px;
}
.cog  {
  -webkit-animation: barrelRoll 8s infinite linear;

}

.cog2 {
  display: block;
  position: relative;
  margin-top: 8px;
  left: 16px;
  float:left;
  text-shadow: none;
  -webkit-animation: invertBarrelRoll 8s infinite linear;;
}

@-webkit-keyframes barrelRoll {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes invertBarrelRoll {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-360deg); }
}

#Home p, #Portfolio p, #Services p,#Contact p{
-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 4s; /* Firefox < 16 */
 -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
     animation: fadein 4s;
}
#Home h5, #Portfolio h5, #Services h5,#Contact h5{
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 7s; /* Firefox < 16 */
   -ms-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
       animation: fadein 7s;
  }

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}



 #PortfolioGallery{
   max-width:700px;
  
  }
  #service-card{
    text-align: center;
    background: #333;
    width:230px;
    float:left;
    margin:30px;
    background: rgb(53, 53, 53);
    margin-top: 15px;
    margin-bottom:15px;
    border: solid  rgb(35, 130, 255) thin;
    padding:15px;
    box-shadow: 0 0 5px rgba(0, 59, 114, 0.829);
    background: linear-gradient(#333, #222329);
    animation: glowBlue 5s ease-out infinite alternate;
    border-radius: 15px;
  }
  #service-card i{
    display: block;
    margin-top:-40px;
    margin-left:0px;
    color:#399dd6
  }
  #service-card h5{
    color:#399dd6
  }
  #service-card p{
    text-align: justify
  }
  .clr{
    clear: both;
  }
  @keyframes glowBlue {
    0% {
		border-color: rgb(35, 130, 255);
		box-shadow: 0 0 5px rgba(0, 59, 114, 0.829), inset 0 0 5px rgba(0, 53, 114,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: rgb(102, 255, 235);
		box-shadow: 0 0 20px rgba(0, 132, 255, 0.6), inset 0 0 10px rgba(68, 0, 255, 0.4), 0 2px 0 #000;
    }
}

.react-photo-gallery--gallery img{
  animation: glowBlue 5s ease-out infinite alternate;
  background: #333;
  float:left;
  background: rgb(53, 53, 53);
  margin-top: 15px;
  margin-bottom:15px;
  border: solid  rgb(35, 130, 255) thin;
  padding:5px;
  box-shadow: 0 0 5px rgba(0, 59, 114, 0.829);
  background: linear-gradient(#333, #222329);
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
}
.center-box{
  max-width: 600px;
  margin-left:auto;
  margin-right:auto;

}
.center-box img{


}
.service-space{
  text-align: center;
  margin-top:50px;
  padding:10px;
} 
.fa-react{
  animation: App-logo-spin infinite 20s linear;
}