.App {

  min-width:500px;
  text-align: center;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
 z-index: 1;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  opacity: .75;  
}

.App-header {
  
  padding: 20px;
  color: white;
  
}
.lorem{
  width:800px
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html,body{
  background: url('./sky.png') no-repeat top fixed #010100; 
  color:white;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
body{
  color: #fff;
  text-shadow: 0.2rem .2rem .3rem rgba(0, 0, 0, 0.863); 

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  text-align: center;
  opacity: .75;  
  font-size: 2.5em;
  font-variant-caps: small-caps;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.inner{
  font-size:x-large;
}
.boxed{

  min-width:500px;
  width:100%;
  background:url('bg.png');
  box-shadow: inset 0 0 5rem rgba(4, 20, 39, 0.9);
  margin-top: 100px;
  height:100%;
  position:relative;

}
.boxed-inner{
  padding:50px;
  text-align: justify;
  text-shadow: 0.2rem .2rem .3rem darkblue; 
}
.gnostic-menu{
  width:500px;
  margin-left:auto;
  margin-right:auto;
}
.nav{
  font-size: 1.5em;
  text-align:center;
}
.nav-item a{
  font-size: 1em;
  color:#2879a6;
}
.nav-item a:hover{
  text-align:center;
  text-shadow: 1px 1px 2px black, 0 0 10px rgb(35, 130, 255), 0 0 5px darkblue;
}
.nav-item .active{
  text-align:center;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.568);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#Contact{
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}
.btn-primary{
  background-color:#2879a6
}
#TheFoot{
  margin-top:30px;
}
.reactor{
  height:60px;
}
.powered{
  margin-top:15px;
}
.service-icons{
  width:500px;
  font-size:2em;
  text-align: center;
  margin-left:auto;
  margin-right:auto;

}
.service-icons i{
 
 
   margin:10px;
}