.App {
  min-width:400px;
  text-align: center;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
 z-index: 1;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  opacity: .75;  
}

.App-header {
  
  padding: 20px;
  color: white;
  
}
.lorem{
  width:800px
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
html{
  background: url('./sky.png') no-repeat top fixed #010100; 
  color:white;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
body{
  color: #fff;
  text-shadow: 0.2rem .2rem .3rem rgba(0, 0, 0, 0.863); 

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  text-align: center;
  opacity: .75;  
  font-size: 4em;
  font-variant-caps: small-caps;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.inner{
  font-size:x-large;
}
.boxed{
  width:100%;
  background:url('bg.png');
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.568);
  margin-top: 100px;
  height:100%;
  position:absolute;
}
.boxed-inner{
  min-width:400px;
  padding:50px;
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
  text-shadow: 0.2rem .2rem .3rem rgba(0, 0, 0, 0.863); 

}
.gnosis-dev{

}